---
import Section from "../gui/Section.astro";

const Data = [
  {
    number: "25+",
    desc: "Years of experience",
  },
  {
    number: "10k+",
    desc: "Cars repaired",
  },
  {
    number: "15k+",
    desc: "Clients served",
  },
];
---

<Section grayBackground>
  <div class="flex flex-row text-center items-center justify-between">
    {
      Data.map((item, index) => (
        <div class="">
          <div class="text-3xl md:text-7xl font-bold text-gray-400">
            {item.number}
          </div>
          <div class="text-sm md:text-xl text-gray-500 text-center">
            {item.desc}
          </div>
        </div>
      ))
    }
  </div>
</Section>
