<div id="section-reviews" class="container mx-auto px-4 py-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 ">

        <!-- Left content area -->
        <div class="space-y-6 bg-cover bg-center bg-no-repeat p-4" style="background-image: url('https://media.istockphoto.com/id/1741466406/de/foto/portr%C3%A4t-eines-gl%C3%BCcklichen-mechanikers-der-in-einer-werkstatt-einen-bremssattel-und-ein.jpg?s=2048x2048&w=is&k=20&c=vcvVnQYAjG6qeSLemBdCAkAZolKZLNxEzxdRf7unWqw=')">
            <span class="text-violet-600 text-lg font-medium">Top Quality!</span>
            <h1 class="text-4xl/tight font-semibold my-10">Our customers love what we do</h1>
            <p class="text-gray-500 text-base leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="mt-16">
                <button class="border-2 border-violet-600 rounded text-base font-medium transition-all duration-300 hover:bg-violet-600 hover:text-white px-10 py-3">Contact us</button>
            </div>
        </div>
        

        <div class="">
            <div class="space-y-6 mt-14 xl:mt-0">
                <div class="bg-violet-50/60 rounded px-14 py-10">
                    <div class="flex items-center justify-between gap-10">
                        <div>
                            <svg class="fill-violet-300 h-8 mb-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z" />
                            </svg>

                            <p class="text-gray-600 text-lg leading-relaxed font-light"> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                            <h3 class="text-xl mt-5">Kate Welsh</h3>
                        </div>

                        <img src="assets/images/avatars/img-1.png" alt="" class="rounded-full h-24">
                    </div>
                </div>

                <div class="bg-violet-50/60 rounded px-14 py-10">
                    <div class="flex items-center justify-between gap-10">
                        <div>
                            <svg class="fill-violet-300 h-8 mb-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z" />
                            </svg>

                            <p class="text-gray-600 text-lg leading-relaxed font-light"> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                            <h3 class="text-xl mt-5">Jogh Doe</h3>
                        </div>

                        <img src="assets/images/avatars/img-3.png" alt="" class="rounded-full h-24">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>