---
// Importing icons from astro-heroicons
import CheckCircleIcon from 'astro-heroicons/outline/CheckCircle.astro';
import WrenchScrewdriverIcon from 'astro-heroicons/outline/WrenchScrewdriver.astro';
import ArrowRightIcon from 'astro-heroicons/outline/ArrowRight.astro';
---



<section class="bg-gray-50 2xl:py-24 lg:py-20 py-16 px-4">
    <div class="container 2xl:px-44">

        <div class="text-center mb-6">
            <span class="text-sm font-semibold text-blue-500 uppercase mb-4">Latest service</span>
            <h2 class="text-2xl text-dark font-bold mb-4">Professional Car Repair The Best Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="mt-14 2xl:mb-12">
            <div class="grid lg:grid-cols-3 gap-6">

                <div>
                    <div class="bg-white text-center p-14 shadow rounded-lg overflow-hidden">
                        <img src="/assets/img/team/img-1.png" alt="" class="rounded-full h-28 mx-auto">
                        <span class="text-lime-600 uppercase font-semibold text-sm tracking-wider block my-3">Trainer</span>
                        <h2 class="text-2xl mb-3">Jerome Bell</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit dolore magna aliqua.</p>

                    </div>
                </div>
                

                <div>
                    <div class="bg-white text-center p-14 shadow rounded-lg overflow-hidden">
                        <img src="/assets/img/team/img-1.png" alt="" class="rounded-full h-28 mx-auto">
                        <span class="text-lime-600 uppercase font-semibold text-sm tracking-wider block my-3">Trainer</span>
                        <h2 class="text-2xl mb-3">Jerome Bell</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit dolore magna aliqua.</p>

                    </div>
                </div>
                

                <div>
                    <div class="bg-white text-center p-14 shadow rounded-lg overflow-hidden">
                        <img src="/assets/img/team/img-1.png" alt="" class="rounded-full h-28 mx-auto">
                        <span class="text-lime-600 uppercase font-semibold text-sm tracking-wider block my-3">Trainer</span>
                        <h2 class="text-2xl mb-3">Jerome Bell</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit dolore magna aliqua.</p>

                    </div>
                </div>
                

            </div>
        </div>

    </div>
</section>
