<div class=" bg-blue-500 h-screen w-full overflow-hidden flex items-center justify-center">
    <!-- Background video -->
    <video class="absolute z-1 min-w-full min-h-full object-cover" autoplay loop muted playsinline>
      <source src="/assets/video/doenerexpress.webm" type="video/mp4">
      Your browser does not support the video element.
    </video>
  
  </div>